@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

body {
    background-image: linear-gradient(to right, #AD00FF 0%, #feb47b 60%, #ffefa1 100%);
}


.container {
    max-width: 820px;
    margin: auto;
    padding: 0 40px 0 40px;
}

@media(min-width: 650px) {
    body {
        background-image: linear-gradient(to right, #AD00FF 0%, #feb47b 50%, #ffefa1 100%);
    }

    .container {
        padding: 0 50px 0 50px;
    }
}

:root {
    --color-text: #ffffff;
    --color-item-background: #000000;
    --font-size-s: 20px;
    --font-size-m: 30px;
    --font-size-l: 40px;
    --font-size-xl: 100px;
}