.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page {
    width: var(--width-home-page);
    height: var(--height-home-page);
    font-weight: var(--font-bold);
    animation: var(--home-page-appearing);
}

.home-page__appear {
    animation: var(--home-page-appearing);
}

.home-page__disappear {
    animation: var(--home-page-disappearing);
}










.home-page__heading {
    text-transform: uppercase;
}

.home-page__heading {
    margin: var(--margin-home-page__heading);
    font-size: var(--font-size-xl);
    text-shadow: var(--text-shadow-home-page__heading);
    color: var(--color-text);
}

.home-page__heading-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.home-page__heading-button {
    width: var(--width-home-page__heading-button);
    height: var(--height-home-page__heading-button);
    margin: var(--margin-home-page__heading-button);
    font-size: var(--font-size-xs);
    color: var(--color-text);
    box-shadow: var(--box-shadow-home-page__heading-button);
    background: var(--color-item-background);
    transition: var(--transition);
}

.home-page__heading-button--item {
    scale: var(--scale-home-page__heading-button--item);
    margin: var(--margin-home-page__heading-button--item);
}

.home-page__heading-button:hover {
    transform: var(--transform-home-page__button--item);
    box-shadow: var(--hover-box-shadow-home-page__heading-button);
}

.home-page__heading-button:hover {
    cursor: pointer;
}

@media(min-width: 650px) {
    .home-page__heading {
        font-size: var(--font-size-xxl);
    }

    .home-page__heading-button {
        width: var(--tablet-width-tablet-home-page__heading);
        font-size: var(--font-size-s);
    }

    .home-page__button--item {
        scale: var(--tablet-scale-home-page__heading-button--item);
    }
}

@media(min-width: 950px) {
    .home-page__heading {
        font-size: var(--font-size-xxxl);
    }

    .home-page__heading-button {
        width: var(--desktop-width-home-page__heading-button);
        height: var(--desktop-height-home-page__button--item);
        font-size: var(--font-size-m);
    }

    .home-page__heading-button--item {
        scale: var(--desktop-scale-home-page__heading-button--item);
        margin: var(--desktop-margin-home-page__heading-button--item);
    }
}
