.hidden {
    display: none !important;
}

.main-navigation__container--disappear {
    animation: mainNavigationDisappear 0.3s ease forwards;
}

.main-navigation__container--appear {
    animation: mainNavigationAppear 0.2s ease forwards;
}

.main-navigation__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-navigation__container {
    width: 100%;
    flex: 1;
    padding: 20px 0;
    bottom: 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0 0 500px 0 #00000075;
    background-image: linear-gradient(to right, #AD00FF -30%, #feb47b 60%, #ffefa1 100%);
    transition: 0.2s;
}


.main-navigation__change-text-size,
.main-navigation__change-text-color,
.main-navigation__set-important,
.main-navigation__statistics-page,
.main-navigation__todo-page,
.main-navigation__home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-navigation__change-text-size,
.main-navigation__change-text-color,
.main-navigation__set-important,
.main-navigation__statistics-page,
.main-navigation__todo-page,
.main-navigation__home-page {
    font-size: 13px;
    color: white;
}

.main-navigation__change-text-size--vector,
.main-navigation__change-text-color--vector,
.main-navigation__set-important--vector,
.main-navigation__todo-page--vector,
.main-navigation__home-page--vector,
.main-navigation__statistics-page--vector {
    margin: 0 0 9px 0;
}

.main-navigation__change-text-size--article,
.main-navigation__change-text-color-article,
.main-navigation__set-important--article,
.main-navigation__todo-page--article,
.main-navigation__home-page--article,
.main-navigation__statistics-page--article {
    text-shadow: 0px 0px 35px #00000075;
    transition: 0.2s;
}

.main-navigation__set-important--article,
.main-navigation__statistics-page--article {
    box-shadow: 0 0 500px 0 #00000075;
}


.main-navigation__change-text-size--vector:hover,
.main-navigation__change-text-color--vector:hover,
.main-navigation__set-important--vector:hover,
.main-navigation__todo-page--vector:hover,
.main-navigation__home-page--vector:hover,
.main-navigation__statistics-page--vector:hover {
    scale: 1.1;
    transform: rotate(-90deg);
    cursor: pointer;
}

.main-navigation__change-text-size--vector:hover,
.main-navigation__home-page--vector:hover {
    transform: none;
}

.main-navigation__button {
    position: absolute;
    border-radius: 6px;
    left: calc(50% - 90px);
    bottom: 20px;
    width: 180px;
    height: 6px;
    background: #00000038;
    transition: 0.2s;
}

.main-navigation__button:hover {
    cursor: pointer;
}

@media(min-width: 650px) {
    .main-navigation__container {
        flex-direction: row;
    }

    .main-navigation__container {
        padding: 0 20px;
    }
}

@media(min-width: 950px) {
    .main-navigation__container {
        padding: 0 45px;
    }
}

@media(min-width: 1250px) {
    .main-navigation__button {
        height: 180px;
        width: 6px;
        top: calc(50% - 90px);
        left: 15px;
    }

    .main-navigation__button:hover {
        cursor: pointer;
        height: 230px;
        top: calc(50% - 115px);
    }

    .main-navigation__container {
        flex-direction: column;
    }

    .main-navigation__container {
        height: 100%;
        left: 0px;
        padding: 320px 95px;
        border-radius: 0px;
        border-radius: 0px;
        background-image: linear-gradient(to right, #AD00FF -30%, #feb47b 60%, #ffefa1 100%);
        box-shadow: 0 0 500px #00000075;
    }

    .main-navigation__change-text-size,
    .main-navigation__change-text-color,
    .main-navigation__set-important,
    .main-navigation__home-page,
    .main-navigation__todo-page,
    .main-navigation__statistics-page {
        margin: 0 auto 0 0;
        flex-direction: row;
    }


    .main-navigation__change-text-size--vector,
    .main-navigation__change-text-color--vector,
    .main-navigation__set-important--vector,
    .main-navigation__home-page--vector,
    .main-navigation__todo-page--vector,
    .main-navigation__statistics-page--vector {
        margin: 0 20px 0 0;
    }

    .main-navigation__change-text-size--vector:hover,
    .main-navigation__change-text-color--vector:hover,
    .main-navigation__set-important--vector:hover,
    .main-navigation__home-page--vector:hover,
    .main-navigation__todo-page--vector:hover,
    .main-navigation__statistics-page--vector:hover {
        cursor: pointer;
        box-shadow: 0 0 50px 0 #00000060;
    }


    .main-navigation__change-text-size--article,
    .main-navigation__change-text-color-article,
    .main-navigation__set-important--article,
    .main-navigation__home-page--article,
    .main-navigation__todo-page--article,
    .main-navigation__statistics-page--article {
        font-size: 15px;
    }

    .main-navigation__change-text-size:hover,
    .main-navigation__home-page:hover {
        margin: 0 auto 50px 0;
    }

    .main-navigation__change-text-color:hover,
    .main-navigation__todo-page:hover {
        margin: 50px auto 50px 0;
    }

    .main-navigation__set-important:hover,
    .main-navigation__statistics-page:hover {
        margin: 50px auto 0 0;
    }

    .main-navigation__container--appear {
        animation: mainNavigationAppear-950px 0.3s ease forwards;
    }

    .main-navigation__container--disappear {
        animation: mainNavigationDisappear-950px 0.3s ease forwards;
    }
}