.button-navigation {
    position: absolute;
}

.button-navigation {
    border-radius: var(--button-radius);
    left: calc(50% - 90px);
    bottom: 20px;
    width: var(--button-width);
    height: var(--button-height);
    background: var(--button-bg-color);
    transition: 0.3s;
}

.hidden {
    display: none !important;
}

.main-navigation__disappear {
    animation: mainNavigationDisappear 0.3s ease forwards;
}

.main-navigation__appear {
    animation: mainNavigationAppear 0.3s ease forwards;
}

.main-navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-navigation {
    width: 100%;
    flex: 1;
    padding: var(--navigation-padding-mobile);
    bottom: 0px;
    border-top-right-radius: var(--navigation-border-radius-mobile);
    border-top-left-radius: var(--navigation-border-radius-mobile);
    box-shadow: var(--navigation-box-shadow);
    background-image: var(--navigation-bg-gradient);
    transition: 0.2s;
}

.main-navigation__button--change-text-size,
.main-navigation__button--change-text-color,
.main-navigation__button--set-important,
.main-navigation__button--statistics-page,
.main-navigation__button--todo-page,
.main-navigation__button--home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: white;
}

.main-navigation__button--change-text-size,
.main-navigation__button--change-text-color,
.main-navigation__button--set-important,
.main-navigation__button--statistics-page,
.main-navigation__button--todo-page,
.main-navigation__button--home-page {
    font-size: 13px;
    color: #ffffff;
}

.main-navigation__button--change-text-size__vector,
.main-navigation__button--change-text__vector,
.main-navigation__button--set-important__vector,
.main-navigation__button--todo-page__vector,
.main-navigation__button--home-page__vector,
.main-navigation__button--statistics-page__vector {
    margin: 0 0 9px 0;
}

.main-navigation__button--change-text-size__article,
.main-navigation__button--change-text-color-article,
.main-navigation__button--set-important__artcile,
.main-navigation__button--todo-page__article,
.main-navigation__button--home-page__article,
.main-navigation__button--statistics-page__article {
    text-shadow: 0px 0px 35px #00000075;
    transition: 0.2s;
}

.main-navigation__button--set-important__article,
.main-navigation__button--statistics-page__article {
    box-shadow: 0 0 500px 0 #00000075;
}

.main-navigation__button--change-text-size__vector:hover,
.main-navigation__button--change-text-color__vector:hover,
.main-navigation__button--set-important__vector:hover,
.main-navigation__button--todo-page__vector:hover,
.main-navigation__button--home-page__vector:hover,
.main-navigation__button--statistics-page__vector:hover {
    cursor: pointer;
}

.main-navigation__button--change-text-size__vector:hover,
.main-navigation__button--change-text-color__vector:hover,
.main-navigation__button--set-important__vector:hover,
.main-navigation__button--todo-page__vector:hover,
.main-navigation__button--home-page__vector:hover,
.main-navigation__button--statistics-page__vector:hover {
    scale: 1.1;
    transform: rotate(-90deg);
}

.main-navigation__button--change-text-size__vector:hover,
.main-navigation__button--home-page__vector:hover {
    transform: none;
}

.button-navigation:hover {
    cursor: pointer;
}

@media(min-width: 650px) {
    .main-navigation {
        flex-direction: row;
        padding: 0 var(--navigation-padding-desktop);
    }

    .main-navigation {
        padding: 0 var(--navigation-padding-desktop);
    }
}

@media(min-width: 950px) {
    .main-navigation {
        padding: 0 var(--navigation-padding-desktop);
    }
}

@media(min-width: 1250px) {
    .button-navigation {
        height: 180px;
        width: 6px;
        top: calc(50% - 90px);
        left: 15px;
    }

    .button-navigation:hover {
        cursor: pointer;
    }

    .button-navigation:hover {
        height: var(--button-hover-height);
        top: var(--button-hover-top);
    }

    .main-navigation {
        flex-direction: column;
    }

    .main-navigation {
        height: 100%;
        left: 0px;
        padding: 320px 95px;
        border-radius: var(--navigation-border-radius-desktop);
        background-image: var(--navigation-bg-gradient);
        box-shadow: var(--navigation-bg-box-shadow);
    }

    .main-navigation__button--home-page,
    .main-navigation__button--todo-page,
    .main-navigation__button--statistics-page {
        flex-direction: row;
    }

    .main-navigation__button--home-page,
    .main-navigation__button--todo-page,
    .main-navigation__button--statistics-page {
        margin: var(--button-margin-desktop);
    }

    .main-navigation__button--home-page__vector,
    .main-navigation__button--todo-page__vector,
    .main-navigation__button--statistics-page__vector {
        margin: 0 20px 0 0;
    }

    .main-navigation__button--home-page__vector:hover,
    .main-navigation__button--todo-page__vector:hover,
    .main-navigation__button--statistics-page__vector:hover {
        cursor: pointer;
    }

    .main-navigation__button--home-page__vector:hover,
    .main-navigation__button--todo-page__vector:hover,
    .main-navigation__button--statistics-page__vector:hover {
        box-shadow: var(--navigation-bg-box-shadow-hover);
    }

    .main-navigation__button--home-page__article,
    .main-navigation__button--todo-page__article,
    .main-navigation__button--statistics-page__article {
        font-size: 15px;
    }

    .main-navigation__button--home-page:hover {
        margin: var(--button-margin-mobile);
    }

    .main-navigation__button--todo-page:hover {
        margin: var(--button-margin-mobile);
    }

    .main-navigation__button--statistics-page:hover {
        margin: var(--button-margin-desktop);
    }

    .main-navigation__appear {
        animation: mainNavigationAppear-1250px 0.3s ease forwards;
    }

    .main-navigation__disappear {
        animation: mainNavigationDisappear-1250px 0.3s ease forwards;
    }
}