.todo-page {
    margin: 180px auto 0 auto;
    padding: 0 50px;
}

.todo-page__disappear {
    animation: var(--todo-page-disappearing);
}

.todo-page__appear {
    animation: var(--todo-page-appearing);
}

.todo-page__tasks-heading-button {
    left: 10px;
    position: absolute;
    cursor: pointer;
    scale: 70%;
}

.todo-page__tasks-heading {
    display: flex;
    color: var(--color-text);
    font-size: 31px;
}

.todo-page__tasks {
    max-width: 840px;
    color: var(--color-text);
    font-size: 31px;
    margin: auto;
}


.tasks__field-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.tasks__field-container {
    height: 150px;
    width: 100%;
    padding: 45px 0 45px 0;
}

.field-container__items {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}


.field-container__item {
    width: 100%;
    border: 0px;
    height: 100%;
    background: #000000;
    transition: 0.2s;
}

.tasks__field-container:hover {
    scale: 1.1;
}

.field-container__item {
    box-shadow: 0px 20px 100px #00000085;
}

.field-container__item:hover {
    box-shadow: 0px 20px 100px #000000a6;
}

.field-container__item--edit-appear {
    animation: fieldContainerItemEditAppear 0.3s ease forwards;
}

.field-container__item--edit-disappear {
    animation: fieldContainerItemEditDisappear 0.3s ease forwards;
}

.field-container__items-appear {
    animation: fieldContainerItemsAppear 0.3s ease forwards;
}

.field-container__items-disappear {
    animation: fieldContainerItemsDisappear 0.3s ease forwards;
}

.field-container__item--edit,
.field-container__item--change-text-size,
.field-container__item--change-text-color,
.field-container__item--set-important {
    color: white;
    margin: 0 20px 0 0;
}

.field-container__item--change-text-size {
    margin: 3px 20px 0 0;
}

.field-container__item--change-text-size:hover,
.field-container__item--change-text-color:hover,
.field-container__item--set-important:hover,
.field-container__item--edit:hover {
    text-shadow: 0px 20px 50px #00000093;
    cursor: pointer;
}

.field-container__item--change-text-size:hover,
.field-container__item--set-important:hover {
    transform: rotate(-90deg);
}


.field-container__item--edit {
    font-size: 15px;
}