.todo-page__disappear {
    animation: var(--todo-page-disappearing);
}

.todo-page__appear {
    animation: var(--todo-page-appearing);
}

.tasks__field-container--item-edit-appear,
.add-tasks__field-container--item-vector-appear {
    animation: fieldContainerItemEditAppear 0.3s ease forwards;
}

.tasks__field-container--item-edit-disappear,
.add-tasks__field-container--item-vector-disappear {
    animation: fieldContainerItemEditDisappear 0.3s ease forwards;
}

.tasks__field-container--items-appear {
    animation: fieldContainerItemsAppear 0.3s ease forwards;
}

.tasks__field-container--items-disappear {
    animation: fieldContainerItemsDisappear 0.3s ease forwards;
}

.todo-page {
    margin: 180px auto 0 auto;
    padding: 0 40px;
}

.todo-page__tasks,
.todo-page__add-tasks {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.todo-page__tasks,
.todo-page__add-tasks {
    max-width: 840px;
}

.todo-page__add-tasks {
    margin: 60px auto 0 auto;
}

.todo-page__tasks-heading,
.todo-page__add-tasks-heading {
    font-size: 29px;
    color: white;
}

.todo-page__tasks-heading {
    margin: 0 0 45px 0;
}

.tasks__field-container,
.add-tasks__field-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks__field-container,
.add-tasks__field-container {
    height: 105px;
    width: 100%;
    padding: 45px 0 0 0;
    transition: 0.2s;
}

.tasks__field-container {
    padding: 0 0 45px 0;
}

.tasks__field-container--item,
.add-tasks__field-container--item {
    width: 100%;
    height: 100%;
    padding: 20px 50px 2px 30px;
    border: 0px;
    background: #000000;
    transition: 0.2s;
    box-shadow: 0px 20px 75px #00000075;
    color: #ffffffe1;
    font-size: 15px;
}

.tasks__field-container--item-edit {
    font-size: 15px;
}

.tasks__field-container--items {
    display: flex;
}

.tasks__field-container--item-edit,
.add-tasks__field-container--item-vector,
.tasks__field-container--item--change-text-size,
.tasks__field-container--item--change-text-color,
.tasks__field-container--item--set-important {
    color: white;
    margin: 0 20px 0 0;
}

.tasks__field-container--item--change-text-size {
    margin: -3px 20px 0 0;
}

.tasks__field-container--item::-webkit-scrollbar,
.add-tasks__field-container--item::-webkit-scrollbar {
    display: none;
}

.tasks__field-container:hover,
.add-tasks__field-container:hover {
    scale: 1.05;
}

.tasks__field-container--item:hover,
.add-tasks__field-container--item:hover {
    box-shadow: 0px 20px 100px #000000b6;
}

.add-tasks__field-container:hover {
    height: 135px;
}

.add-tasks__field-container--item::placeholder {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.add-tasks__field-container--item::placeholder {
    top: 50%;
    left: 80px;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 15px;
}

.tasks__field-container--item--change-text-size:hover,
.tasks__field-container--item--set-important:hover {
    transform: rotate(-90deg);
}

.tasks__field-container--item-edit:hover,
.add-tasks__field-container--item-vector:hover,
.tasks__field-container--item--change-text-size:hover,
.tasks__field-container--item--change-text-color:hover,
.tasks__field-container--item--set-important:hover {
    cursor: pointer;
}

.tasks__field-container--item-edit:hover,
.add-tasks__field-container--item-vector:hover,
.tasks__field-container--item--change-text-size:hover,
.tasks__field-container--item--change-text-color:hover,
.tasks__field-container--item--set-important:hover {
    text-shadow: 0px 20px 50px #00000093;
}


@media(min-width: 650px) {
    .todo-page {
        padding: 0 60px;
    }
}

@media(min-width: 900px) {
    .todo-page {
        padding: 0;
    }
}

@media(min-width: 1250px) {

    .todo-page__tasks-heading,
    .todo-page__add-tasks-heading {
        font-size: 31px;
    }
}